:root {
    --color-primary: #141313;
    --color-secondary: #1d1d1d;
    --color-title: #efefef;
    --color-item-p: #a06235;
    --color-item-s: #f3a446;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --height-shape: 18em;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/beverages-3105631_1920.jpg");
    background-size: cover;
    background-repeat: none;
}


/* NavBar */

.head {
    background-color: var(--color-primary);
    overflow: hidden;
    width: 100%;
    height: 6em;
}

.navbar {
    margin: 10px;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.navbar__content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 2fr);
    grid-template-areas: "card1 card2 card3 card4 card5 . card6 card6 card7 card8";
    place-items: center;
    gap: 20px;
}

.navbar__item {
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 1.1em;
}

.navbar__item img {
    width: 60px;
    height: 60px;
}

.navbar__item a {
    text-decoration: none;
    color: var(--color-title);
    padding: 5px;
}

.navbar__item .item__user a {
    color: var(--color-item-s);
}

.select:hover {
    background-color: var(--color-secondary);
}

.navbar__item .item__user a:hover {
    color: var(--color-item-p);
}

.item__search {
    display: flex;
    width: 100%;
}

.navbar__item .item__search input {
    outline: none;
    width: 80%;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-title);
}

.btn__head {
    border: none;
    padding: 5px;
    margin-left: 5px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--color-item-s);
}

.basket {
    display: flex;
}

.shopping {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-title);
}

.shopping__number {
    font-size: 0.8rem;
    display: block;
}

.btn__head:hover {
    background-color: var(--color-item-p);
}

.navbar__item:nth-last-of-type(8) {
    grid-area: card1;
}

.navbar__item:nth-last-of-type(7) {
    grid-area: card2;
}

.navbar__item:nth-last-of-type(6) {
    grid-area: card3;
}

.navbar__item:nth-last-of-type(5) {
    grid-area: card4;
}

.navbar__item:nth-last-of-type(4) {
    grid-area: card5;
}

.navbar__item:nth-last-of-type(3) {
    grid-area: card6;
}

.navbar__item:nth-last-of-type(2) {
    grid-area: card7;
}

.navbar__item:nth-last-of-type(1) {
    grid-area: card8;
}


/* Header */

.body__head {
    width: 95%;
    height: 80vh;
    margin: auto;
    padding: 25px;
}

.content__head {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.content_left {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.info_head {
    width: 100%;
    padding: 20px;
    color: var(--color-title);
    clip-path: inset(0 0 0 0);
    background: var(--color-secondary);
    grid-column: 1/3;
    grid-row: 3/2;
}

.btn__body {
    border: none;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    background-color: var(--color-item-s);
}

.btn__body:hover {
    background-color: var(--color-item-p);
}

.content_right {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.offer__content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.offer_image {
    width: 300px;
    height: 300px;
    border: solid;
    grid-column: 1/3;
    grid-row: 3/1;
    z-index: 2;
}

.offer_text {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color-title);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: var(--color-secondary);
    grid-column: 2/4;
    grid-row: 3/1;
    margin-left: 100px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.texto {
    position: absolute;
    right: 9%;
    top: 44%;
}

.btn_offer {
    margin: 10px;
    border: none;
    width: 85px;
    height: 35px;
    border-radius: 7px;
    background-color: var(--color-item-s);
    font-size: 1.1rem;
    padding: 5px;
}

.btn_offer:hover {
    background-color: var(--color-item-p);
}

.main__page {
    margin: 0;
    padding: 0;
    width: 100%;
}

.deals {
    width: 100%;
    height: 400px;
    padding: 40px;
    background-image: url("../imagenes/pexels-cátia-matos-1072179.jpg");
    background-size: cover;
    background-repeat: none;
}

.deals__content {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    place-items: center;
    gap: 20px;
}

.deals__date {
    width: 100%;
    height: 100%;
    text-align: center;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-title);
}

.deals__items {
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 230px;
    height: 290px;
    margin: 10px;
    background-color: var(--color-item-s);
    color: var(--color-title);
    border-radius: 10px;
    text-align: center;
}

.categories__item {
    width: 90%;
    height: 210px;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    text-align: center;
    padding: 15px;
    color: var(--color-title);
}

.categories__item i {
    font-size: 5em;
    margin: auto;
}

.categories__item span {
    margin-bottom: 15px;
}

.btn_categories {
    border: none;
    border-radius: 10px;
    background-color: var(--color-item-s);
    width: 50%;
    margin: auto;
}

.categories__item:nth-last-of-type(6) {
    grid-area: card1;
}

.categories__item:nth-last-of-type(5) {
    grid-area: card2;
}

.categories__item:nth-last-of-type(4) {
    grid-area: card3;
}

.categories__item:nth-last-of-type(3) {
    grid-area: card4;
}

.categories__item:nth-last-of-type(2) {
    grid-area: card5;
}

.categories__item:nth-last-of-type(1) {
    grid-area: card6;
}